#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  font-family: sans-serif;
}

.digits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin: 20px 0;
}

.digit-btn {
  padding: 12px;
  font-size: 20px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.digit-btn:hover {
  background: #2c2828;
}

.input-preview {
  font-size: 24px;
  margin-top: 10px;
}

.message {
  margin-top: 10px;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
}

.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #f54848;
  cursor: pointer;
}

.btn.main {
  background: #4a7fff;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.timer {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #07f;
}

